{% extends "layout.html" %}

{% block title %}WebGL Test{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        body {
            text-align: center;
        }
        #controls {
        	width: 960px;
        	margin: 0 auto;
        	text-align: left;
        }
        
    </style>
{% endblock %}
{% block content %}
    <h1>WebGL Test</h1>
    <iframe id="game" src="{{ website.url ~ '/webgl/test/fullscreen' }}" width="960" height="540" scrolling="no"></iframe>
    <section id="controls">
        <h2>Controls</h2>
        <dl>
            <dt>Primary</dt>
            <dd>I, J, K, L</dd>
            <dt>Strafe</dt>
            <dd>S, F</dd>
            <dt>Equalize</dt>
            <dd>E, D</dd>
            <dt>Stall</dt>
            <dd>A</dd>
            <dt>Fire</dt>
            <dd>Space</dd>
            <dt>Pause</dt>
            <dd>P / Enter</dd>
        </dl>
    </section>
{% endblock %}
{% block scripts %}
    <script>
        $( '#game' )[0].contentWindow.focus();
        $( document ).mouseup(function() {
            $( '#game' )[0].contentWindow.focus();
        });
    </script>
{% endblock %}